/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common stylesl or utilities*/
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* -------------------------------------- 
                .menu bar styles
     --------------------------------------*/

.header {
  color: #fff;
  background-color: #562eff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 94px;
  margin-bottom: 36px;
}
.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
.logo-area img {
  width: 41px;
  height: 51px;
  margin-right: 15px;
}
.logo-area p {
  font-size: 24px;
  font-weight: 500;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.menu li {
  margin-right: 36px;
}
.menu  li a {
  padding: 5px 10px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
.menu  li a:hover{box-sizing: border-box;
  color:black;
  background-color: #ffc014a1;
  
  border-radius: 5px;
  transition: background-color .5s ease-in-out;
}
.menu ul li a img {
  width: 51px;
  height: 51px;
}

/* --------------------------------------
             top players style 
  ----------------------------------------*/

.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;    
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  font-size: 18px;
  margin-left: 16px;
}

/*--------------------------------------------------
                  top blog styles 
  -------------------------------------------------*/

.top-blogs .section-title {
  margin-bottom: 30px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}
.blog-title {
  font-size: 20px;
  position: relative;
  top: 0;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  color: #562eff;

  text-decoration: none;
}
/* ---------------------------------
               courses style 
 ------------------------------------ */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course .course-banner img {
  height: 104px;
  width: 224px;
}

.course-info {
  display: flex;
  align-items: center;
}
.course-info p {
  font-size: 15px;
  margin-left: 11px;
  margin-right: 30px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  font-size: 15px;
  color: #ff4a60;
  padding: 4px 6px;
  background: #ffe4e8;
  border-radius: 15px;
}

/* ---------------------------------------------------------------
                             footer area
  --------------------------------------------------------------- */
  footer{
    
  }
.dark-footer{
  width: 100%;
  height: auto;
   background-color: #000; 
   margin-top: 50px;
}
.about-company{
   display: grid;
   justify-content: center;
   grid-template-columns: 30% 30% 30%;
   margin-bottom: 20px;
   padding-top: 30px;
  
    
}
.list h2{
  color: #fff;
}
 .list ul{
      list-style-type:none;
      padding: 0;

}
.list li a{
  color: #9f9f9fdc;
  text-decoration: none;
}
.list li a:hover{
  opacity: 0.5;
}
.list p{
   color: #9f9f9fa8;
}
.copyright-area{
  color: #9f9f9f;
  text-align: center;
}
.social-media{
  font-size: 35px;
  
}
.social-media a{
  margin-right: 10px;
}
.copyright-text{
   color: #9f9f9fa8;
   padding-bottom: 50px;
}

/*-------------------------------------- 
            Media Queries 
-----------------------------------------*/

 /* ---------------------
      Mobile devices
  ------------------- */
    
